

.footerMain{
    width: 100%;
    height: fit-content;
    background-color: yellow;
}
.footerItems{
    margin:1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerDataParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.footerDataLeft{
    flex: 1;
}
.footerDataLine{
    align-self: center;
    height: 80%;
    width: 0.1em;
    background-color: rgb(150, 150, 150);
    margin: 0 1em;
    display: flex;
}
.footerDataRight{
    flex: 1;
    display: flex;
    
}
.footerDataLeftList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerDataLeftIcon{
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin:0 0.5em;
    transition: all 0.5s;
    cursor: pointer;
}

.footerDataRightList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.footerDataRightIcon{
    position: relative;
    height: 1.5em;
    margin:0 0.5em;
    transition: all 0.5s;
    cursor: pointer;
}

.footerDataLeftIcon:hover{
    transform: translateY(-40%) scale(1.2);
}
.footerEndText{
    text-align: center;
}
