.homeMainPage{
    min-height: 100vh;
    background-image: url(../assets/images/homeBG.svg);
    background-position: center;
    background-size: cover;
}
.homeMainPageCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.homeMainPagePersonParent{
    margin-top: 6em;
    width: 10em;
    height: 10em;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}
.homeMainPagePerson{
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/homePerson.svg);
    background-size: cover;
    background-position: center;
}
.homeMainPageText1{
    margin: 1em;
    color: white;
    font-size: 2em;
}
.homeMainPageBtn1{
    width: 24em;
    height: 3em;
    margin: 0.2em;
    border-radius: 1em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.homeMainPageBtn2{
    width: 24em;
    height: 3em;
    margin: 0.2em;
    border-radius: 1em;
    background-color: #FF5F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.homeMainPageBtn1:hover{
    transform: scale(1.1);
}
.homeMainPageBtn2:hover{
    transform: scale(1.1);
}
.homeMainPageText2{
    font-size: 1.3em;
}
.homeSecondPage{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeSecondPageLittleTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeSecondPageLittleTitleStar{
    background-image: url(../assets/images/fiveStar.svg);
    background-position: center;
    background-size: cover;
    height: 1em;
    width: 8em;
}
.homeSecondPageLittleTitleText{
    font-size: 1.3em;
}
.homeSecondPageSet1ItemImg{
   
    height: 10em;
    width: 14em;
    background-position: center;
    background-size: cover;
}
.homeSecondPageSet1ItemImgData1{
    background-image: url(../assets/images/ajil1.svg);
}
.homeSecondPageSet1ItemImgData2{
    background-image: url(../assets/images/ajil2.svg);
}
.homeSecondPageSet1ItemImgData3{
    background-image: url(../assets/images/ajil3.svg);
}
.homeSecondPageSet1ItemImgData4{
    background-image: url(../assets/images/ajil4.svg);
}
.homeSecondPageSet1Title{
    font-size:2em;
}
.homeSecondPageSet1ItemList{
    display: flex;
    flex-direction: row;
}
.homeSecondPageSet1Item{
    margin: 1em;
}

.homeThirdPageMain{
    /* background: linear-gradient(to, #FF5F6D, #FFC371); */
    background: linear-gradient(180deg, #FF5F6D26 , #FFC37126);
    padding: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.homeThirdPageMainText{
    width: 30em;
}
.homeThirdPageMainImg{
    width: 30em;
    height: 18em;
    background-image: url(../assets/images/icon2.svg);
    border-radius: 2em;
    background-size: cover;
    background-position: center;
}

.homeSecondPageSet2ItemImg{
    height: 5em;
    width: 5em;
    background-position: center;
    background-size: cover;
    margin-right: 1em;
}
.homeSecondPageSet2ItemImgData1{
    background-image: url(../assets/images/user1.svg);
}
.homeSecondPageSet2ItemImgData2{
    background-image: url(../assets/images/user2.svg);
}
.homeSecondPageSet2ItemImgData3{
    background-image: url(../assets/images/user3.svg);
}
.homeSecondPageSet2Title{
    font-size:2em;
}
.homeSecondPageSet2ItemList{
    display: flex;
    flex-direction: row;
}
.homeSecondPageSet2Item{
    margin: 1em;
    background-color: aliceblue;
    border-radius: 1em;
    padding: 0.5em;
    width: 15em;
}
.homeSecondPageSet2Item1{
    display: flex;
}
.homeSecondPageSet2Item2{
    margin: 1em;
}
.homeSecondPageSet2Item3{
    margin: 1em;
}
.homeSecondPageSet2Item hr{
    margin: 1em;
}

.homeMainPageCenter2{
    color: white;
    width: 70%;
    font-size: 1.5em;
    margin-top: 4em;
}
.homeMainPagePersonParent2{
    color: white;
    font-size: 3em;
}