.viewOrderCardMain{
    
background: linear-gradient(180deg, #FF5F6D 0%, #FFC371 486.85%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;

    margin:1em auto;
    border-radius: 1em;
    color: white;
}
.viewOrderCardTopParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.viewOrderCardCenterParent{
    margin: 1em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.viewOrderCardBottomParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.viewOrderCardBtn{
    background: white;
    color: black;
    width: 15em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 0.7em;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    margin-right: 1em;
}

.viewOrderCardBtn:hover{
    transform: scale(1.1);
}

.viewOrderCardCenterType{
    color: white;
    font-weight: bold;
}

.viewOrderCardTopParent{
    
}
.viewOrderCardTopDatas{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viewOrderCardTopIcon{
    width: 2em;
    height: 2em;
    margin-right: 1em;
}
.viewOrderCardTopOrderNum{
    font-size: 1.3em;
}
.viewOrderCardTopDate{
    font-size: 1.1em;
}
.viewOrderCardCenterName{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viewOrderCardCenterNameText{
    font-size: 2em;
    margin-right: 1em;
}
.viewOrderCardCenterType{
    background-color: rgb(255, 255, 255);
    border-radius: 10em;
    color:black;
    padding: 0.5em 1em;
    font-weight: bold;
}
.viewOrderCardCenterDescrition{
    font-size: 1.3em;
    margin: 0.5em 0em;
}
.viewOrderCardCenterSkill{

}
.viewOrderCardCenterSkill li{
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(214, 214, 214);
}
.viewOrderCardCenterSkillText{
    font-size: 1.2em;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.viewOrderCardBottomParent{

}
.viewOrderCardBottomRequest{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viewOrderCardBottomRequestIcon{
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}
.viewOrderCardBottomRequestText{
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}



.viewOrderCardInputPrice{
    width: 50em;
    height: 30em;
    background-color: #FF5F6D;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
}

.viewOrderCardInputPriceTitle{
    font-size: 2em;
    align-self: center;
}
.viewOrderCardInputPriceText{
    margin: 0.5em;
}
.viewOrderCardInputPricePrice{
    margin: 0.5em;
}
.viewOrderCardInputPricePriceText{

}
.viewOrderCardInputPricePriceImput{
    width: 20em;
    height: 2em;
    border-radius: 100em;
    border:  none;
    margin: 0.5em;
    padding: 0 1em;
}
.viewOrderCardInputPricePriceImput:focus{
    outline: none;
    border: none;
}
.viewOrderCardInputPriceSend{
    align-self: flex-end;
    justify-self: flex-end;
    width: 20em;
    height: 3em;
    border-radius: 1.2em;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}